/* YLEISET ASETUKSET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", "Arial Narrow", sans-serif;
}

p, a {
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
}


body {
    background: #0D1B2A;
    color: #E0E0E0;
}


/*Header ja navigaatio*/
header {
    position: relative;
}

nav {
    background-color: #1565C0;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;

    padding: 1em 80px;
    margin: 20px 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #E0E0E0;
    font-weight: bold;
}

/*Nav logo*/

.nav-logo {
    position: absolute;
    top: -35px; 
    left: 20px;
    z-index: 10;
}

.nav-logo img {
   width: auto;
   height: 120px;
}

/* Maini */ 

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1565C0;
    border-radius: 6px;
    padding: 1em;
    margin: 50px 10px;

    flex-grow: 1;
}

.intro-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 1em 0;
}

.intro-video-container {
    width: 100%;
    max-width: 560px;

}

.intro-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    border: 0;
   
}

.intro-text {
    font-size: large;
    border-radius: 5px;
    padding: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.intro-text p {
    flex:1;
}

.text-container, .intro-text , .player-container, .team-card {
    background-color: #0c407c;  
}

.regular-container {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    width: 100%;
    gap: 20px;
}

.text-container {
    border-radius: 5px;
    padding: 15px;
}

.solo-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.team-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1280px;
    width: 100%;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 6px;
    flex: 0 0 auto; 
    width: 100%;
    max-width: 350px;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Varjostus */

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.team-card h2 {
    margin-bottom: 1.5rem;
}

.team-card p {
    margin-bottom: 1.5rem;
}

.team-card img {
    width: 100%;
    height: auto;
    border: 3px solid lightgrey;
    border-radius: 60%;
    margin-bottom: 1rem;
    object-fit: cover;

    max-width: 150px;
    max-height: 150px;
}

.team-card-socialmedia-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 20px;
}

.team-card-socialmedia-item img {
    width: 50px;
    height: 50px;
}

.player-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    gap: 20px;
}

.player-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 15px 25px 23px;
    margin-bottom: 20px;
    align-items: flex-start;
    gap: 15px;
}

.player-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
}

.player-card-reverse-titel {
    padding: 0 20px;
}

.reverse {
    flex-direction: row-reverse !important; 
}

.player-card-info {
    display: flex;
    flex-direction: column; 
    padding: 0 20px;
}

.player-card-info ol {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-position: inside;
}

.player-card img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 6px;
}

.layout-form {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.sidebar {
    width: 200px;
    border-radius: 6px;
    margin: 50px 30px;
    display: flex;
}

.sidebar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    flex-grow: 1;
}

.input-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 6px;
    padding: 10px 20px;
    
}

label {
    font-weight: bold;
    padding-bottom: 5px;
}

input, fieldset, textarea {
    margin-bottom: 10px;
}

fieldset {
    display: flex;
    flex-direction: row;
}

.radio-group-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 100%;
}

.button-container {
    display: flex;
    gap: 15px;
}

button {
    cursor: pointer;
    color: #E0E0E0;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-top: 7px;
    border: 2px solid lightgray;
    border-radius: 6px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: rgb(4, 109, 4);
}

button[type="reset"] {
    background-color: rgb(166, 3, 3);
}

/* Footeri */

footer {
    background-color: #1565C0;
    border-radius: 6px;
    padding: 1em;
    margin: 20px 10px;
}

.footer-columns {
    display: flex;
    gap: 1em;
}

.column-left {
    flex: 1;
    padding: 1em;

    /*TEMP*/
    border: 1px solid rgb(54, 54, 54);
}

.column-middle {
    flex: 1;
    padding: 1em;

    /*TEMP*/
    border: 1px solid rgb(54, 54, 54);
}

.column-right {
    flex: 1;
    padding: 1em;

    /*TEMP*/
    border: 1px solid rgb(54, 54, 54);
}

.column-left img {
    height: 250px;
    display: block;
}

.column-right a {
    color: #E0E0E0;
}

footer ul {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer ul li {
    text-align: center;
}

footer ul li a {
    text-decoration: none;
    color: #E0E0E0;
    font-weight: bold;
}

footer img {
    margin-left: auto;
    margin-right: auto;
}

.general-info-container {

}

.socialmedia-container-footer {
    display: flex;
    float: right;
}

.socialmedia-item img {
    margin: 20px;
}

/* Responsiivisuus */

/* Mobiili */
@media (max-width: 360px) {}

/* Tabletti */
@media (min-width: 768px) {}

/* Työpöytä */
@media (min-width: 1920px) {}

